.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (pointer: fine) {
  * {
    scrollbar-color: inherit transparent;
    scrollbar-width: var(--scrollbar-size);
    transition: --scrollbar-size 300ms linear;
  }
  *::-webkit-scrollbar {
    width: var(--scrollbar-size);
    height: 14px;
    background-color: transparent;
  }
  .MuiPaper-root:hover {
    --scrollbar-size: 10px;
  }
  *::-webkit-scrollbar-track {
    background: inherit;
  }
  *::-webkit-scrollbar-thumb {
    background-color: color-mix(in srgb, currentColor 20%, transparent);
    opacity: 0.5;
    height: 14px;
    min-height: 64px;
    width: var(--scrollbar-size);
    padding: 2px;
    border: 2px solid transparent;
    border-left: 6px solid transparent;
    background-clip: padding-box;
  }
  *::-webkit-scrollbar-thumb:hover {
    border-left: 0px solid transparent;
    background-color: color-mix(in srgb, currentColor 25%, transparent);
  }
  *::-webkit-scrollbar-thumb:active {
    border-left: 0px solid transparent;
    background-color: color-mix(in srgb, currentColor 30%, transparent);
  }
  *::-webkit-scrollbar-thumb:horizontal {
    border-left: 0;
    width: 14px;
    min-width: 64px;
    width: var(--scrollbar-size);
    height: 2px;
    border-top: 6px solid transparent;
  }
  *::-webkit-scrollbar-thumb:horizontal:hover {
    border-top: 0px solid transparent;
  }
  *::-webkit-scrollbar-thumb:horizontal:active {
    border-top: 0px solid transparent;
  }
}

.MuiTabs-root:not(.MuiTabs-vertical) span.MuiTabs-indicator {
  height: 3px;
  border-radius: 3px 3px 0 0;
  width: 100%;
}
.MuiTouchRipple-root > * {
  filter: blur(12px);
  opacity: 0.1 !important;
}

.MuiFilledInput-root {
  border-radius: 8px;
  overflow: hidden;
}
.MuiFilledInput-root::before,
.MuiFilledInput-root::after {
  display: none !important;
}

button.Mui-disabled {
  box-shadow: none !important;
}
